<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img src="assets/img/person-default.png"></ion-img>
      </ion-avatar>
      <ion-card-header>
        <ion-card-subtitle>Cesar Granelli</ion-card-subtitle>
        <ion-card-title>Rockman DX</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-nav>
      <ion-item lines="none" button="true" type="button" [routerLink]="['/league']">
        <ion-thumbnail>
          <ion-img src="assets/img/shirt-default.png"></ion-img>
        </ion-thumbnail>
        <ion-label text-center>
          Liga 1
        </ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-nav>
  </ion-card>

</ion-content>